$color-primary: rgb(80, 18, 138);
$color-primary-ligth: rgb(135, 88, 179);
$color-secondary: #1845c0;

$color-danger: #d52e2d;

$color-bc-accent: #e4f6ef;

$color-text: #0c241b;
$color-text-gray: #cdd;
$color-white: #fff;

$color-text-light: rgb(88, 88, 88);

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
