.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 106rem;
  max-width: 100%;
  margin: 0 auto;

  &-empty {
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      font-size: 3rem;
      color: $color-gray-l !important;
      line-height: 1.2;
      max-width: 70%;
      text-align: center;
    }
  }

  & .products-list {
    width: 90%;
    margin: 0 auto;

    display: grid;

    @include respond(tab-port) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }

    grid-template-columns: repeat(4, 1fr);

    grid-gap: 3rem;
  }
}
