.navbar {
  width: 100%;
  background-color: $color-primary;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $color-secondary;
  border-left: none;
  border-right: none;
  color: $color-light;

  & .ad {
    background-color: $color-secondary;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    color: $color-white;
    margin-bottom: 2rem;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo-box {
      & .logo {
        display: flex;
        align-items: center;

        & h1 {
          margin-left: 1rem;
        }
      }
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
  }

  &__links {
    width: fit-content;
    min-width: 90%;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: space-evenly;

    & .link {
      @include transition;
      position: relative;
      cursor: pointer;
      margin: 0 1rem;

      text-transform: capitalize;
      padding: 1rem;
      white-space: nowrap;

      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0.3rem;
        background-color: $color-secondary;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        @include transition;
      }

      &.active {
        color: $color-secondary;

        &::before {
          width: 120%;
        }
      }

      &:hover {
        &::before {
          width: 120%;
        }
      }
    }
  }
}
