.navbar {
  display: flex;
  flex-direction: row;
  height: 8rem;
  background-color: $color-primary;
  color: $color-light;
  padding: 0 10vw;

  &__logo,
  &__navigation,
  &__icons {
    margin: auto;
  }

  &__logo {
    margin-left: 0;
    flex: 1;
    text-align: center;

    a {
      font-size: 2.4rem;
      font-weight: 600;
    }
  }

  &__navigation {
    flex: 2 2 40rem;
    display: flex;
    justify-content: flex-start;
  }

  &__link {
    margin-right: 4rem;
    font-size: 1.6rem;
    border-bottom: 4px solid transparent;

    &:last-child {
      margin-right: 0;
    }

    &.active,
    &.active:hover {
      border-bottom-color: $color-light;
    }

    &:hover {
      border-bottom-color: rgba($color-light, 85%);
    }
  }

  &__icons {
    margin-right: 4rem;
    flex: 1 1;
  }
}
